- personal ||= false
- caption = personal ? :personal_lists : :global_lists
- @lists = List.all
- @list = List.new
.well{:style => "padding:0"}
  %ul.nav.nav-list#lists
    %li.nav-header #{t :lists}
    - if @lists.none? || @current_user.groups.collect(&:name).include?("Conference Manager")
      %div #{t :no_saved_lists}
    - else
      - @lists.sort.each_with_index do |list, i|
        %li[list]
          %dt= link_to(truncate(list.name, :length => 25), list.url, :title => list.name)
          %tt= link_to(image_tag("/assets/tab_icons/#{list.controller}_active.png", :"data-controller" => list.controller), url_for(list), :method => :delete, :confirm => 'Are you sure?', :remote => true, :class => "list_icon delete_on_hover")

  .list_save{ hidden_if(!params[:q]) }
    = link_to(t(:make_current_view_list), '#')

  .list_form{ hidden }
    = simple_form_for(List.new, :remote => true) do |f|
      = f.text_field :name, :size => 25
      = image_tag(asset_path('info_tiny.png'), :title => t(:list_name_info), class: "input_info")
      = f.hidden_field :url
      %input{:type => "hidden", :name => "is_global", :value => (personal ? 0 : 1) }
      %div
        = f.submit( t(:save) )
        #{t :or}
        = link_to(t(:cancel), '#', :class => "cancel")
