- id = dom_id(@autocomplete)

- if @autocomplete.errors.empty?
  $('##{id}').replaceWith('#{ j render(:partial => "autocomplete", :collection => [ @autocomplete ]) }');
  $('##{id}').effect('highlight', { duration: 1000 });
- else
  $('##{id}').html('#{ j render(:partial => "edit") }');
  $('##{id}').effect("shake", { duration:250, distance: 6 });
  $('#tag_autocompletename').focus();
