:plain
  The was an error adding an invoice for #{indefinite_article(@entity_type)} #{@entity_type.downcase}:
  <br><br>
  #{@entity_name}
  <br><br>
  You can view this #{@entity_type} at #{@entity_url}
  <br><br>
  Error details:
  <br><br>
  #{@error_text}