- edit ||= false
- model = entity.class.name.underscore
- collapsed = session[:entity_permissions].nil?
.row
  .col-md-12
    .box-group#accordion
      .panel.box
        .box-header
          %h4.box-title
            = subtitle :entity_permissions, collapsed, t(:permissions)
            %small.intro#entity_permissions_intro{ class: collapsed ? "" : "hidden" }
              = get_default_permissions_intro(entity.access, t("#{model}_small")) unless edit
        .panel-collapse.collapse#collapse_entity_permissions{class: collapsed ? "" : "in"}
          .box-content
            .row
              .col-sm-6
                = f.input :access, 
                collection: [["Private", t(:keep_private)], ["Public", t(:make_public)], ["Shared", t(:share_with)]], value_method: :first, label_method: :last,
                as: :radio_buttons, label: false, wrapper: :vertical_form_full
            .row
              .col-sm-6#people{ class: entity.access != "Shared" ? "hidden" : "" }
                = f.input :user_ids, collection: user_options, input_html: {multiple: true, class: 'select2'}, label: "#{t(:users)}:", wrapper: :vertical_form_full
                = f.input :group_ids, collection: group_options, input_html: {multiple: true, class: 'select2'}, label: "#{t(:groups)}:", wrapper: :vertical_form_full

            - if !edit and entity.is_a?(Lead)
              .row
                .col-sm-6
                  .form-group.radio-buttons.col-sm-12
                    = f.radio_button :access, t(:campaign), :onclick => "$('#people').hide(); $('#lead_access_campaign').val('Campaign');", :disabled => true, class: "radio-buttons"
                    %font{ :id => :copy_permissions, :color => :grey }
                      = t(:copy_permissions, t(:campaign_small))
