#search
  %ul.nav.nav-tabs
    %li.active
      = link_to t('basic_search'), '#basic_search',    :"data-search-form" => "basic_search",    :class => (params[:q]  ? "" : " active"), :data => {:toggle => "tab"}
    %li
      = link_to t('advanced_search'), '#advanced_search', :"data-search-form" => "advanced_search", :class => (!params[:q] ? "" : " active"), :data => {:toggle => "tab"}
    


  .tab-content
    .search_form.tab-pane.active#basic_search{ :style => (params[:q] ? 'display: none;' : '') }
      = render "basic_search"
    

    .search_form.tab-pane#advanced_search{ :style => (!params[:q] ? 'display: none;' : '') }
      - cache [params[:controller], params[:q]] do
        = ransack_ui_search :remote => true
  
    #search_results_count
      = t('search_results_count', :count => @search_results_count)
  
