- model_name = controller_name.singularize
- model_klass = model_name.camelcase.constantize

%section.content-header
  %h1{:id => "create_#{model_name}_title"} #{t controller_name.to_sym}
  %ol.breadcrumb
    = view_buttons
    %li
      = link_to_inline("create_#{model_name}".to_sym, send("new_#{model_name}_path"), :text => t("create_#{model_name}".to_sym))
  = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
      