= simple_form_for(@registration, :html => one_submit_only(:registration), :remote => true) do |f|
  = link_to_close new_registration_path
  = f.hidden_field :user_id
  = hidden_field_tag "related_contact[contact]", "#{@contact.id if @contact}"
  
  = f.error_messages :object_name => t('registration')

  = render "registrations/top_section",  :f => f
  = render "shared/add_comment", :f => f
  -#= render "registrations/contact_info", :f => f
  = render "fields/groups",  :f => f
  = render "entities/permissions",  :f => f, :entity => @registration

  .buttonbar
    = f.submit t(:create_registration)
    #{t :or}
    = link_to_cancel new_registration_path

