- address_type = type.to_s.camelize
- address_attr = "#{type}_address"
- address = get_address(asset, address_attr)

- same_as_billing ||= false

= f.simple_fields_for(address_attr.to_sym) do |a|
  = a.hidden_field :address_type, :value => address_type
  - unless Setting.compound_address
    - if same_as_billing
      %div
        %span(style="float:right")
          = link_to_function(t(:same_as_billing), "crm.copy_address('account_shipping_address', 'account_billing_address')")
        %label.control-label #{t title}:
    - else
      %label.control-label #{t title}:
    = a.input :full_address, as: :text, :rows => 4, label: false, wrapper_html: {class: "no-padding"}
  - else

    - if same_as_billing
      %div
        %span(style="float:right")
          = link_to_function(t(:same_as_billing), "crm.copy_compound_address('account_billing_address', 'account_shipping_address')")
        %label.control-label #{t title}:
    - else
      %label.control-label #{t title}:
    = a.input :street1, label: false, placeholder: "#{t(:street1)}...", wrapper: :vertical_form_full, wrapper_html: {class: "no-padding"}

    = a.input :street2, label: false, placeholder: "#{t(:street2)}...", wrapper: :vertical_form_full, wrapper_html: {class: "no-padding"}

    = a.input :city, label: false, placeholder: "#{t(:city)}...", wrapper: :vertical_form, wrapper_html: {class: "no-padding col-xs-8"}
    = a.input :state, label: false, placeholder: "#{t(:state)}...", wrapper: :vertical_form, wrapper_html: {class: "col-xs-4", style: "padding: 0 0 0 3px"}

    = a.input :zipcode, label: false, placeholder: "#{t(:zipcode)}...", wrapper: :vertical_form, wrapper_html: {class: "col-xs-4", style: "padding: 0 3px 0 0"}
    .form-group.col-xs-8.no-padding= a.country_select(:country, priority_countries, { :include_blank => "" }, {:"data-placeholder" => t(:select_a_country), :class => 'select2'})
