
= styles_for :task, :opportunity, :account
%section.content-header
  %h1 Dashboard
  -#%small descriptive text
  -#%ol.breadcrumbs
  -#  %li
  
%section.content
  -#%h4.page-header 
  -#  Header
  -#  %small descriptive text
  
  .row
    .col-md-4
      .box.box-primary#box-tasks
        .box-header
          %h3.box-title#title #{t :my_tasks}
        .box-body
          %ul.list#tasks
            - unless @my_tasks.empty?
              = render :partial => "home/task", :collection => @my_tasks.limit(10)
            - else
              #{t :no_task_records}
        = show_hidden_entities_message(@my_tasks.count, 'task', 10) unless @my_tasks.empty?
    
    .col-md-4
      .box.box-primary#box-opportunities
        .box-header
          %h3.box-title#title #{t :my_opportunities}
        .box-body
          %ul.list#opportunities
            - unless @my_opportunities.empty?
              = render :partial => "home/opportunity", :collection => @my_opportunities.limit(10)
            - else
              #{t :no_opportunity_records}
          = show_hidden_entities_message(@my_opportunities.count, 'opportunity', 10) unless @my_opportunities.empty?

    .col-md-4
      .box.box-primary#box-accounts
        .box-header
          %h3.box-title#title #{t :my_accounts}
        .box-body
          %ul.list#accounts
            - unless @my_accounts.empty?
              = render :partial => "home/account", :collection => @my_accounts.limit(10)
            - else
              #{t :no_account_records}
          = show_hidden_entities_message(@my_accounts.count, 'account', 10) unless @my_accounts.empty?

  .row
    .col-md-12
      .box.box-primary#box-activity
        .box-header
          %h3.box-title#title #{t :recent_activity}
          = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
          .box-tools.pull-right
            = link_to_inline(:options, url_for(:action => :options), :text => t(:options))
        .box-body
          .remote#options{ hidden }

          %ul.list#activities
            - unless @activities.empty?
              = render :partial => "activity", :collection => @activities
            - else
              #{t :no_activity_records}

        .box-footer
          #export= render "shared/export"
