- collapsed = session[:confirmation_email].nil?
= subtitle :confirmation_email, collapsed, "Confirmation Email"
.section
  #confirmation_email{ hidden_if(collapsed) }
    %table
      %tr
        %td
          .label From Name:
        %td
          = f.text_field :confirmation_email_from_name, :default_value => Setting.conference[:email_from], :style => 'width:410px;'
      %tr
        %td
          .label From Email:
        %td
          = f.text_field :confirmation_email_from_address, :default_value => Setting.conference[:email_address], :style => 'width:410px;' 
      %tr
        %td
          .label BCC to:
        %td
          = f.text_field :confirmation_email_bcc, :default_value => Setting.conference[:email_bcc], :style => 'width:410px;'   
      %tr
        %td
          .label Subject:
        %td
          = f.text_field :confirmation_email_subject, :style => 'width:410px;'
      %tr
        %td= spacer
      %tr
        %td{:colspan => 2}
          = f.text_area :confirmation_email, :default_value => "Dear [contact.first_name],",:style => 'width:500px;', :class => "tinymce"