.remote
  .section
    %table
      %tr
        %td.pad
          = link_to "&bull; Contact list".html_safe, generate_report_event_path(@event, :format => :xls, :requested_report => "contact_list")
      %tr
        %td.pad
          = link_to "&bull; Accommodation Usage (who slept on site for each day)".html_safe, generate_report_event_path(@event, :format => :xls, :requested_report => "accommodation_usage")
      %tr
        %td.pad
          = link_to "&bull; Catering (people at each meal, dietary requirements)".html_safe, generate_report_event_path(@event, :format => :xls, :requested_report => "catering")
      %tr
        %td.pad
          = link_to "&bull; Health issues and emergency contacts".html_safe, generate_report_event_path(@event, :format => :xls, :requested_report => "health_issues")
      %tr
        %td.pad
          = link_to "&bull; Transport (who can drive, who needs a lift)".html_safe, generate_report_event_path(@event, :format => :xls, :requested_report => "transport")
      %tr
        %td.pad
          = link_to "&bull; BSG members registered (people who have and haven't registered grouped by BSG)".html_safe, generate_report_event_path(@event, :format => :xls, :requested_report => "bsg_members_registered")
      %tr
        %td.pad
          = link_to "&bull; To call (not registered, not in a BSG, has phone or mobile details)".html_safe, generate_report_event_path(@event, :format => :xls, :requested_report => "contact_list_phone")
      
