- edit ||= false
- collapsed = session[:contact_extra].nil? # && @contact.errors.empty?
.row
  .col-md-12
    .box-group#accordion
      .panel.box
        .box-header
          %h4.box-title
            = subtitle :contact_extra, collapsed, t(:extra_info)
            %small.intro#contact_extra_intro{ class: collapsed ? "" : "hidden" }
              = t(:intro, t(:extra_info_small)) unless edit
        .panel-collapse.collapse#collapse_contact_extra{class: collapsed ? "" : "in"}
          .box-content
            = hook(:contact_extra_details_form, self, :f => f) do
              .row
                .col-sm-12.two-col
                  = f.input :title, label: t(:job_title)
                  = f.input :department, label: t(:department)
              .row
                .col-sm-12.two-col
                  = f.input :alt_email, label: t(:alt_email)
                  = f.input :mobile, label: t(:mobile)

              .row
                .col-sm-12.two-col
                  .col-sm-6
                    = render "shared/address", :f => f, :asset => @contact, :type => 'business', :title => :address
                  .col-sm-6
                    = f.input :fax, label: t(:fax), wrapper: :vertical_form_full, wrapper_html: {class: "no-padding"}
                    %div{:style => "margin-top:6px"}
                      .check_box
                        = f.check_box :do_not_call, {}, true
                        #{t :do_not_call}
