= hook(:contact_top_section, self, :f => f) do
 
  -#= render "template" if %w(new create).include?(controller.action_name)
  
  = f.input :name, label: "#{t :name}" do
    -#.label.top.req{ :class => "#{Setting.require_first_names ? 'req' : nil}" } #{t :first_name}:
    = f.input_field :first_name, placeholder: "#{t :first_name}"
  
    -#.label.top{ :class => "#{Setting.require_last_names ? 'req' : nil}" } #{t :last_name}:
    = f.input_field :last_name, placeholder: "#{t :last_name}"

  .form-inputs.row
    -#.label #{t :email}:
    = f.input :email, :wrapper_html => {:class => 'span4'}

  -#.label #{t :phone}:
  = f.input :phone, label: "#{t :phone}" do
    = f.input_field :phone, placeholder: "#{t :landline}"
    -#.label #{t :mobile}:
    = f.input_field :mobile, placeholder: "#{t :mobile}"

  .form-inputs.row
    = fields_for(@account) do |a|
      = a.hidden_field :user_id
      = a.hidden_field :assigned_to
      = a.hidden_field :access, :value => Setting.default_access
      .form-inputs.row
        != account_select_or_create(a) do |options|
          - # Add [-- None --] account choice when editing existing contact that has an account.
          - options[:include_blank] = "" unless @contact.new_record? || @contact.account.blank?
        
        -#.label #{t :assigned_to}:
        = user_select(:contact, all_users, current_user)

      - if Setting.background_info && Setting.background_info.include?(:contact)
        %tr
          %td(colspan="3")
            .label= t(:background_info) << ':'
            = f.text_area :background_info, :style =>"width:500px", :rows => 3

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:contact_top_section_bottom, self, :f => f)
