
= hook(:contact_top_section, self, :f => f) do
  .row
    .col-sm-12.two-col
      = f.input :first_name, label: t(:first_name), :autofocus => true, required: Setting.require_first_names
      = f.input :last_name, label: t(:last_name), :autofocus => true, required: Setting.require_last_names
  .row
    .col-sm-12.two-col
      = f.input :email, label: t(:email)
      = f.input :phone, label: t(:phone)
  .row
    .col-sm-12.two-col
      = simple_fields_for(@account) do |a|
        = a.hidden_field :user_id
        = a.hidden_field :assigned_to
        = a.hidden_field :access, :value => Setting.default_access
        .form-group.col-sm-8
          != account_select_or_create(a) do |options|
            - # Add [-- None --] account choice when editing existing contact that has an account.
            - options[:include_blank] = "" unless @contact.new_record? || @contact.account.blank?
          
        .form-group.col-sm-4
          %label.control-label #{t :assigned_to}:
          = user_select(:contact, all_users, current_user)

  - if true || Setting.background_info && Setting.background_info.include?(:contact)
    .row
      .col-sm-12.two-col
        = f.input :background_info, as: :text, wrapper: :vertical_form_full, label: t(:background_info) << ':'

  = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

  = hook(:contact_top_section_bottom, self, :f => f)
