- edit ||= false
- collapsed = session[:contact_presence].nil? # && @contact.errors.empty?
.row
  .col-md-12
    .box-group#accordion
      .panel.box
        .box-header
          %h4.box-title
            = subtitle :contact_presence, collapsed, t(:web_presence)
            %small.intro#contact_presence_intro{ class: collapsed ? "" : "hidden" }
              = t(:intro, t(:web_presence_small)) unless edit
        .panel-collapse.collapse#collapse_contact_presence{ class: collapsed ? "" : "in" }
          .box-content
            .row
              .col-sm-12.two-col
                = f.input :blog, label: t(:blog)
                = f.input :twitter, label: t(:twitter)
            .row
              .col-sm-12.two-col
                = f.input :linkedin, label: t(:linked_in)
                = f.input :facebook, label: t(:facebook)
            .row
              .col-sm-12.two-col
                = f.input :skype, label: t(:skype)