%section.sidebar
  = render "layouts/sidebar_user"
  = render "layouts/sidebar_quickfind"       
  
  %ul.sidebar-menu
    - tabs.each do |tab|
      %li{:class => tab[:active] ? "active" : nil}
        = link_to(tab[:url]) do
          %i.fa{class: tab[:icon]}
          = t(tab[:text])
          
  = render "layouts/sidebar"
